:root {
    --primary-color: #FF4C39;
    --secondary-color: #FC1048;
    --third-color: #191919;
    --border-color: #f1f1f1;
    --text-color: #fff;
    --white-color: #fff;
    --black-color: rgb(0, 0, 0);
    --green-color: #25D366;
    --bg-color: #040404;
    --font-family: 'Poppins', sans-serif;
    --font-size: 1vw;
    --ease: cubic-bezier(0.23, 0.48, 0.26, 0.94);

    @media only screen and (min-width:2560px) {
      --font-size: 1rem;
    }

    @media only screen and (max-width:1200px){
      --font-size: 1rem;
    }
  }

 